/*category page for sort by option display on center*/
.toolbar-products { background-color: transparent; position: relative; border-top: 1px solid #ddd; padding: 10px 0 10px 0; border-bottom: 1px solid #ddd; bottom: 3px;}
.toolbar-sorter.sorter { position: absolute; left: 35%; }
/*category page for sort by option display on center*/

